body 
{
    direction: rtl;
    font-family: B Nazanin, 'B Nazanin', tahoma;
	font-family:'B tabassom',tahoma;
	font-size: 20px;
}
#pg-main-content
{
    width: 90%;
    padding-top: 5%; 
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5%;
    margin-left: 5%;
    background-color:#D1D4D6;
}
#pg-item{
  padding-bottom: 3%;
  color: #5D8AA8;
}
#pg-itm-pic{
    padding-bottom: 5%;
    padding-right: 3%;
    padding-left: 3%;
      -webkit-transition: all 4s ease-out;
  transition: all 4s ease-out;

}
hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: #5D8AA8;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;    
    border-style: solid;
    border-color: #5D8AA8;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
#pg-h1{
    color: #5D8AA8;
    font-size: 200%;
}
#pg-h2{
    color: #5D8AA8;
    font-size: 150%;
}
#pg-itm-pic:hover, #pg-itm-pic:focus img
{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#pg-table{
  background-color: #D1D4D6;
}
#pg-show-itm{
  border-style: solid;
  border-width: 2px;
  border-radius: 3%;
  border-color :#5D8AA8 ;
}
.more-info{
  margin-top: -30px;
  margin-bottom: 5px;
}
.more-info:hover{
  background-color: transparent;
  text-decoration: none;
}
#pic img
{
  margin-top: 10%;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
#pic:hover img, #pic:focus img
{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
#new-msg-btn
{
    background-color: #CE91B6;
    border-color:#823463;
}
#new-msg-btn:hover{
    background-color:#A85D8A;
}
#imgs
{
	margin-left: auto;
	margin-right: auto;
	text-align: auto;
}
#bttn{
background-color: #EFDECD;
width:140px;
text-align: auto;
margin-left: auto;

}	
