body 
{
	font-family: Tahoma;
	font-family:'B tabassom',tahoma;
	font-size: 20px;
	direction: rtl;
    background-color: #E2E2DD;
}
#welcome
{
    color:#6666FF; 
}
.submit_class_name_here
{
    width: 20%;
}
#homeNav{
    
    color: #85C2FF;
    background-color: #E2E2DD;

}
.my-nav
{
    color: #85C2FF;
    background-color: #E2E2DD;
    
}

#textNav
{
    color: #85C2FF;
}
#home-nav
{
    margin-bottom: 10px;
}
#innerNav
{
    padding-right: 45%;
    background-color: #E2E2DD;
    color: #85C2FF;

}
#signup-nav
{
    
    width:200px;
    height:relative;
   /* position:absolute;*/
    border: 4px groove #EFDECD;
    top:20%;
    left:0;
    z-index:100;
  /*  background:rgba(239,211,205,0.5);*/
    color: #85C2FF;
    overflow:hidden;
    margin-bottom: 5px;
}
#head
{
    padding-right: 15%;
    margin-top: 4px;
}
#slide
{
    position: center;
    height:relative;
    background-color: #E2E2DD;
}
#start{
	color: #85C2FF;
	display:block;
	font-size: 190%;
	text-align: center;
	padding-top: 20px;
}
#start-btn{
    margin:5%;
    width: 90%;
}
#intro-Product
{
    background-color: #E2E2DD;
}
#intro-Trello
{
    background-color: #E2E2DD;
    
}
#intro-Forum
{
    background-color: #E2E2DD;
    
}
#email_field
{
    padding-top: 3%;
}
#contain-foot
{
    padding-top: 10px;
    font-size: 30px;
    color:#6666FF;

}
#link
{
    color:#6666FF;    
}
#link:hover
{
    background-color: transparent;
    text-decoration: none;
}
.modal-content{
    background-image: url('head.png');
    background-color: #E2E2DD;
    color:#6666FF;
}
.modal-header .close {
  float: left;
}
.modal-footer .btn{
    float: left;
}
.input-group
{
    padding : 5px;
    width: 50%;
}

#intro-trello-image
{
    direction: rtl;
    padding-top: 4px;
    padding-right: 10%;
    padding-left: 0%;
    list-style: none;
}

#intro-trello-text
{
    direction: rtl;
    padding-top: 4px;
    padding-right: 10%;
    padding-left: 0%;
    list-style: none;
    text-align: center;
}

#intro-forum-image
{
    direction: rtl;
    padding-top: 4px;
    padding-left: 5%;
    padding-right: 5%;
    list-style: none;
}


#intro-forum-text
{
    direction: rtl;
    padding-top: 4px;
    padding-right: 5%;
    padding-left: 5%;
    list-style: none;
    text-align: center;

}
#basicModal
{
   /* background-image: "head.jpg";*/
}

#intro-product-image
{
    padding-right: 0%;
    padding-left: 10%;
    direction: rtl;
    padding-top: 4px;
    list-style: none;
}
#intro-product-text
{
    padding-right: 0%;
    padding-left: 10%;
    direction: rtl;
    padding-top: 4px;
    list-style: none;
    text-align: center;
}

.input-group label
{
    float: right;
    clear: both;
    padding-right: 0px;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus
{   
    outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
              box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    border: 1px solid #66afe9;
    border-radius: 4px 4px 4px 4px;
    border-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
#frgt-pass-link
{
    padding: 30%;
}
#email
{
    width: 100%;
    padding-left:14%;
    padding-right:14%;;
    padding-top: 0px;
    padding-bottom:0px;
}
#setSize
{
   width:  20px;
   height: 10px
}
#link:hover
{
    background-color: transparent;
    text-decoration: none;
}