body 
{
    direction: rtl;
    font-family: tahoma;
	font-family:'B tabassom',tahoma;
	font-size : 20px;
	/*background : url('../images/home.jpg');
	background-size: 100%;*/
}
#profile_background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}
#profile_desc{
	font-size: 25px;
}
.stretch {
    width:100%;
    height:100%;
}
{
    background-color: #F4C2C2;
}
#profile_main-content
{
    margin: 5%;
    width: 90%;
    margin-top:50px;
    background-color:#EFDECD;
}
#profile_pic img
{
  margin-top: 10%;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
#profile_pic:hover img, #profile_pic:focus img
{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
#profile_new-msg-btn
{
    background-color: #CE91B6;
    border-color:#823463;
}
#new-msg-btn:hover{
    background-color:#A85D8A;
}

