body 
{
    direction: rtl;
    font-family: B Nazanin, 'B Nazanin', tahoma;
	font-family:'B tabassom',tahoma;
	font-size : 20px;
}
b{
	font-size : 18px;
}
#main-content
{
    margin: 5%;
    width: 90%;
    margin-top:50px;
    background-color:#EFDECD;
}
#pic img
{
  margin-top: 10%;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
#pic:hover img, #pic:focus img
{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


#prof-pic
{
    padding-bottom:1%;
    }   
    

