
<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
  </head>
  <body>
    <div id="background">
      <img src="images/home.jpg" class="stretch" alt="" />
    </div>
        <%= render "layouts/navbar" , :locals => {:brand => "پروفایل ما"}%>
        <div class="jumbotron" id = "main-content">
            <div class = "row">
                <div class="col-md-8">
                    <div class="panel panel-danger" id ="box">
                        <div class="panel-heading">
                            <h3 class="panel-title row">
                                <div class="col-md-5" id = "desc">
                                هجدهم فروردین هزار و سیصد و نود و سه
                                </div>
                                <div class="col-md-7" id="desc">
                                    غلام و قمر
                                </div>

                            </h3>
                        </div>
                        <div class="panel-body" >
                          <p id = "desc"> شارل بودلر، شاعر و منتقد، عقیده داشت که راه درست مشاهده و فهم دنیای مدرن، قدم زدن در خیابان‌ها و گذشتن از مقابل مغازه‌های شهرهای بزرگ است. به عقیدة بودلر، خیابانگردها هستند که بهترین درک را از ماهیت مدرنیته دارند. ژان بودریار دست و پای خیابانگردها را به کاناپه‌ای در مقابل دستگاه تلویزیون می‌بندد. خیابانگرد دیگر پرسه نمی‌زند. اکنون او در میان تصاویر تلویزیونی، آگهی‌های تلویزیونی و کالاها و خوشی‌هایی که در آن‌ها تبلیغ و در مقابل بیننده‌ی هیپنوتیزم‌شده جاری می‌شوند، پرسه می‌زند و تماشا می‌کند. تماشا یگانه فعالیتی است که برای خیابانگرد سابق باقی مانده است. خیابانگرد «بودلر» به تماشاگر «بودریار» تبدیل شده است. تماشاگر به‌خوبی سکون توده‌ها را می‌شناسد؛ بر مبنای تجربه‌ی شخصی خودش.</p>
                         </div>
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class="container" id="pic">
                        <img src="images/ax.jpg" class="img-responsive" alt="Responsive image">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row container">
                    <a class="btn btn-primary" role="button" id ="new-msg-btn">ویرایش اطلاعات</a>
                    <a class="btn btn-danger" role="button" > حذف حساب کاربری</a>
            </div>
        </div>
        <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>     
  </body>
</html>
