
<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Information</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/information.css" rel="stylesheet">
    <link href="css/font.css" rel="stylesheet">
  </head>
  <body>
    <%= render "layouts/navbar" , :locals => {:brand => "خدمات"}%>
        <div class="jumbotron" id = "pg-main-content">

<br>

<%= render :partial => '/forum_messages/msg_in_thread' , :locals =>{:msgs => @forum_messages, :newCom => @newComment, :thread => @forum_thread}  %>

</div>    
  </body>
</html>



